.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.logo {
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,255,0,1) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url("texture.jpg");
  background-repeat: repeat;
}

.spacer {
  padding-top: 10px;
}

h2 {
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,255,0,1) 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  color: #FF0080
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: lime;
}

#wrapper.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* GRID LAYOUT */

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.column {
  padding: 20px;
}

.info {
  padding-bottom: 30px;
  text-align: center;
}

.social {

}

.detail {
  margin-top: -15px;
  padding-bottom: 5px;
}

/* Responsive layout - makes one column on small screens */

@media (max-width: 800px) {

  #wrapper {
    width: 375px;
  }

  #wrapper.grid {
    grid-template-columns: 1fr;
  }

  .logo {
    font-size: 7px;
  }
}
