.center {
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.logo {
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,255,0,1) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: 'Courier New', Courier, monospace;

}

h3 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: lime;
  text-decoration-color: hotpink;
}

#wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  #wrapper {
    flex-direction: column;
    width: 480px;
  }

  .logo {
    font-size: xx-small;
  }
}

.row {
  vertical-align: top;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  vertical-align: top;
  padding: 20px;
  flex-basis: 100%;
  flex: 1;
}

.info {
  padding-bottom: 30px;
  text-align: center;
}

.social {

}

.detail { margin:0 }